$backGroundColor: #2c5f78;
$secondaryBackGroundColor: #0e1e2b;
$secondaryColor: #1c3d52;
$accentColorGreen: #a8ed91;
$accentColorPink: #fa87a9;
$accentColorBlue: #51acc5;
$textColor: white;
$secondaryTextColor: #66e7db;

$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
